{% extends 'layouts/base.html' %}
{% load app_extras %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            {% comment %} <div class="container"> {% endcomment %}
              {% comment %} <div class="row"> {% endcomment %}
                <div class="col-md-auto">
                 <img src={{logo_url}} style="border-radius: 50%" class="img-responsive">
                </div>
                <div class="col d-flex justify-content-start align-self-center">
                  <h1 class="h1 text-white text-left"><a href="{{website_url}}" target="_blank">{{name}}</a></h1>
                </div>
                <div class="col justify-content-end align-self-center">
                  <h2 class="h2 text-white text-right">{{sector}}</h2>
                  <br><h4 class="h4 text-white text-right">{{industry}}</h4 ></br>
                </div>
              {% comment %} </div> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            {% comment %} <div class="col-lg-6 col-10">
              <div class="row">
                <h1 class="h2 text-white d-inline-block mb-0">{{longName}}</h1>
              </div>
              <div class="row">
                <h6 class="h2 text-white d-inline-block mb-0">{{symbol}}</h6>
              </div>
            </div>
            <div class="col-lg-3 col-5 text-right">
              <div class="row">
                <h1 class="h2 text-white d-inline-block mb-0">{{sector}}</h1>
              </div>
              <div class="row">
                <h1 class="h2 text-white d-inline-block mb-0">{{industry}}</h1>
              </div>
            </div> {% endcomment %}
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Price</h5>
                      <span class="h2 font-weight-bold mb-0">{{market_price}} {{currency}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    {% if differenceFromLastClose > 0%}
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{differenceFromLastClose|floatformat:2}} ({{differenceRelative|floatformat:2}}%)</span>
                    {%else%}
                    <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i> {{differenceFromLastClose|floatformat:2}} ({{differenceRelative|floatformat:2}}%)</span>
                    {% endif %}
                    {% comment %} <span class="text-nowrap">Since last month</span> {% endcomment %}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Market Cap</h5>
                      <span class="h2 font-weight-bold mb-0">{{market_capitalization|humanize_num}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    {% comment %} <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span> {% endcomment %}
                    <span class="text-nowrap">{{market_capitalization|capSize}}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Dividend yield</h5>
                      <span class="h2 font-weight-bold mb-0">{{dividend_yield|percent}}%</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    {% comment %} <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span> {% endcomment %}
                    <span class="text-wrap">Annual dividend payout of ${{dividend_rate}} per share</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Beta</h5>
                      <span class="h2 font-weight-bold mb-0">{{beta|floatformat:2}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-sound-wave"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap">{{beta|volatility}} Volatility</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Payout ratio</h5>
                      <span class="h2 font-weight-bold mb-0">{{payout_ratio|percent}}%</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-wrap">{{payout_ratio|payoutRatio}} for most companies</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">P/E ratio</h5>
                      <span class="h2 font-weight-bold mb-0">{{trailing_pe_ratio|floatformat:2}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    {% comment %} <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span> {% endcomment %}
                    <span class="text-nowrap">{{sector}} sector has a P/E ratio of</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">PEG ratio</h5>
                      <span class="h2 font-weight-bold mb-0">{{peg_ratio|floatformat:2}}</span>
                    </div>
                    <div class="col-auto">
                       <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-ungroup"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap">{{sector}} sector has a PEG ratio of</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Dividend streak</h5>
                      <span class="h2 font-weight-bold mb-0">{{dividend_streak}} years</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    {% comment %} <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span> {% endcomment %}
                    <span class="text-nowrap">Growth streak of {{dividend_growth_streak}} years</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">{{name}}</h6>
                  <h5 class="h3 text-white mb-0">Share price</h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    {% comment %} <li id="price_1d_chart" class="nav-item">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">1d</span>
                        <span class="d-md-none">1d</span>
                      </a>
                    </li> {% endcomment %}
                    <li id="price_1mo_chart" class="nav-item">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">1mo</span>
                        <span class="d-md-none">1mo</span>
                      </a>
                    </li>
                    <li id="price_1y_chart" class="nav-item">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">1y</span>
                        <span class="d-md-none">1y</span>
                      </a>
                    </li>
                    <li id="price_5y_chart" class="nav-item">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">5y</span>
                        <span class="d-md-none">5y</span>
                      </a>
                    </li>
                    <li id="price_max_chart" class="nav-item">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Max.</span>
                        <span class="d-md-none">Max.</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!--  dividend Chart -->
              
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="price-dark-chart" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">{{name}}</h6>
                  <h5 class="h3 mb-0">Total revenue {{totalrevenue_unit}}</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="total-revenue-chart" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">{{name}}</h6>
                  <h5 class="h3 text-white mb-0">Dividend per Share</h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li id="dividendyield_10y_chart" class="nav-item">
                    {% comment %} data-toggle="chart" data-target="#chart-sales-dark"> onclick="updatedata_dividend({{ dividend_yield_10y }}, {{ dividend_yield_timestamp_10y }})" data-update='{"data": {"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k"> {% endcomment %}
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab" >
                        <span class="d-none d-md-block">10y</span>
                        <span class="d-md-none">10y</span>
                      </a>
                    </li>
                    <li id="dividendyield_max_chart" class="nav-item" >
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Max.</span>
                        <span class="d-md-none">Max.</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!--  dividend Chart -->
              
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="dividend-dark-chart" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">{{name}}</h6>
                  <h5 class="h3 mb-0">Net Income {{netincome_unit}}</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="net-income-chart" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Growth</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Time period</th>
                    <th scope="col">Stock return</th>
                    <th scope="col">Stock annualized return</th>
                    <th scope="col">Dividend growth</th>
                    <th scope="col">Annualized dividend growth</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      1-year
                    </th>
                    <td>
                    {% if stockprice_growth_1y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{stockprice_growth_1y|percent}}%
                    </td>
                    <td>
                    {% if stockprice_annualizedgrowth_1y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{stockprice_annualizedgrowth_1y|percent}}%
                    </td>
                    <td>
                    {% if dividendpayout_growth_1y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{dividendpayout_growth_1y|percent}}%
                    </td>
                    <td>
                    {% if dividendpayout_annualizedgrowth_1y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{dividendpayout_annualizedgrowth_1y|percent}}%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      5-years
                    </th>
                    <td>
                    {% if stockprice_growth_5y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{stockprice_growth_5y|percent}}%
                    </td>
                    <td>
                    {% if stockprice_annualizedgrowth_5y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{stockprice_annualizedgrowth_5y|percent}}%
                    </td>
                    <td>
                    {% if dividendpayout_growth_5y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{dividendpayout_growth_5y|percent}}%
                    </td>
                    <td>
                    {% if dividendpayout_annualizedgrowth_5y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{dividendpayout_annualizedgrowth_5y|percent}}%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      10-years
                    </th>
                    <td>
                    {% if stockprice_growth_10y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{stockprice_growth_10y|percent}}%
                    </td>
                    <td>
                    {% if stockprice_annualizedgrowth_10y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{stockprice_annualizedgrowth_10y|percent}}%
                    </td>
                    <td>
                    {% if dividendpayout_growth_10y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{dividendpayout_growth_10y|percent}}%
                    </td>
                    <td>
                    {% if dividendpayout_annualizedgrowth_10y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{dividendpayout_annualizedgrowth_10y|percent}}%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      20-years
                    </th>
                    <td>
                    {% if stockprice_growth_20y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{stockprice_growth_20y|percent}}%
                    </td>
                    <td>
                    {% if stockprice_annualizedgrowth_20y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{stockprice_annualizedgrowth_20y|percent}}%
                    </td>
                    <td>
                    {% if dividendpayout_growth_20y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{dividendpayout_growth_20y|percent}}%
                    </td>
                    <td>
                    {% if dividendpayout_annualizedgrowth_20y > 0%}
                      <i class="fas fa-arrow-up text-success mr-3"></i> 
                    {% else %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% endif %}
                    {{dividendpayout_annualizedgrowth_20y|percent}}%
                    </td>
                  </tr>
                  {% comment %} <tr>
                    <th scope="row">
                      /argon/profile.html
                    </th>
                    <td>
                      1,795
                    </td>
                    <td>
                      190
                    </td>
                    <td>
                      <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                    </td>
                  </tr> {% endcomment %}
                </tbody>
              </table>
            </div>
          </div>
          Hey there, since I'm alone on this project. I don't have any external advice . So, if you want a feature to be added or if you want to report a bug, I'm there ! So, Let me know at finavizfinance@gmail.com or dm @pushinpush on Twitter. 
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">{{name}}</h6>
                  <h5 class="h3 mb-0">Total dividends paid {{totaldividendspaid_unit}}</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="total-dividends-paid-chart" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <div class="col-xl-4">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Social traffic</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Referral</th>
                    <th scope="col">Visitors</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Facebook
                    </th>
                    <td>
                      1,480
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Facebook
                    </th>
                    <td>
                      5,480
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">70%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Google
                    </th>
                    <td>
                      4,807
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">80%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Instagram
                    </th>
                    <td>
                      3,678
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">75%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      twitter
                    </th>
                    <td>
                      2,645
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">30%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> {% endcomment %}
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script type="text/javascript">
    // Share price chart

    // var price_y_1d = {{price_y_1d|safe}}; 
    // var price_x_1d = {{price_x_1d|safe}};
    var price_y_1mo = {{price_y_1mo|safe}}; 
    var price_x_1mo = {{price_x_1mo|safe}};
    var price_y_1y = {{price_y_1y|safe}}; 
    var price_x_1y = {{price_x_1y|safe}};
    var price_y_5y = {{price_y_5y|safe}}; 
    var price_x_5y = {{price_x_5y|safe}};
    var price_y_max= {{price_y_max|safe}}; 
    var price_x_max = {{price_x_max|safe}};

    //var radius = new Array(price_x_1y.length).fill(0);
	  //radius[radius.length - 1] = 5

    // Dividends chart
    var dividendyield_y_max = {{dividendyield_y_max|safe}}; 
    var dividendyield_x_max = {{dividendyield_x_max|safe}};
    var dividendyield_y_10y = {{dividendyield_y_10y|safe}}; 
    var dividendyield_x_10y = {{dividendyield_x_10y|safe}}; 
    //var dividendradius = new Array(dividendyield_y_max.length).fill(0);
	  //dividendradius[dividendradius.length - 1] = 5
    var totalrevenue_x = {{totalrevenue_x|safe}};
    var totalrevenue_y = {{totalrevenue_y|safe}};
    var netincome_x = {{netincome_x|safe}};
    var netincome_y = {{netincome_y|safe}};
    var totaldividendspaid_x = {{totaldividendspaid_x|safe}};
    var totaldividendspaid_y = {{totaldividendspaid_y|safe}};

  </script> 
  {% comment %} {{ data|json_script:"hello-data" }} {% endcomment %}
  {% comment %} <script id="hello-data" type="application/json">{"hello": "world"}</script>

  <script> const datapoint = JSON.parse(document.getElementById('hello-data'));console.log(datapoint);</script> {% endcomment %}

{% comment %} <script src="/static/assets/vendor/chart.js/dist/chart.js"></script> {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  {% comment %} <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script> {% endcomment %}

{% endblock javascripts %}
